<div>
    <h2> CLICK ON THE LINK BELOW TO RESET YOUR PASSWORD </h2>
    <br><br>
    <p>click: <a href="http://localhost:80/users/reset_password/?accesstoken=<%= token.accesstoken %>">here </a></p>
    <br> <br>
    <h3>THANKS </h3>
</div>