<footer>
   <div class="footer-container">
      <div > &copy; codeial.All Rights Reserved     </div>
      &ensp; 
      <div>
         <a href="/" >Home</a> &ensp;
         <a href="">Privacy Policy</a> &ensp;
         <a href=""> Terms Of Service </a> &ensp;
      </div>

   </div>



</footer>