
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
       integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
       crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">

              

              <div class="card">
                   <p class="text-style">Welcome </p>
                   <p class="text-style">in Codeial World</p>
             </div>
             <br> <br>

<div id="home-container">

<section id="imp-links">
    <h1>Important Links</h1>

</section>

<section id="feed-post">
    <h2>Posts</h2>
     <% if(locals.user){ %> 
    <form action="/post/create" method="POST" id="new-post-form">
      <textarea name="content" id="" cols="30" rows="5" placeholder="Write you feed here....." required></textarea>
       <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="posts-list-container">
        <ul style="list-style:none;">
            <% for(post of posts){ %>
               <%- include('_post') -%>
            <%}%>
        </ul>
        
    </div> 

</section>

<section id="friends-list">
    <h3>FRIENDS</h3>
    <% for(u of all_users){ %> 
        <li>
         <a href="/users/profile/<%= u.id %>"> <%= u.name %>  </a>  
        </li>
    <% } %>
     
     
</section>

</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>