
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
       integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
       crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">

              <h1>codial - Home - page - Title : <%= title %> </h1>

              <div class="card">
                   <p class="text-style">Welcome </p>
                   <p class="text-style">in Codeial World</p>
                   <div class="container">
                        <a href="/users/sign-in">
                            <i class="fas fa-user"></i>Sign In
                        </a>
                        <br> <br> <br>
                        <span>create new account</span> &ensp;
                        <a href="/users/sign-up">
                            <i class="fas fa-user-plus"></i>Sign Up
                        </a>
                 </div>
             </div>
             <br> <br>