
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
       integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
       crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">

              

              <div class="card">
                   <p class="text-style">Welcome </p>
                   <p class="text-style">in Codeial World</p>
             </div>
             <br> <br>
<section id="feed-post">
    <h2>Posts</h2>
     <% if(locals.user){ %> 
    <form action="/post/create" method="POST" id="new-post-form">
      <textarea name="content" id="" cols="30" rows="5" placeholder="Write you feed here....."></textarea>
       <input type="submit" value="Post">
    </form>
    <%}%>
    <div class="posts-list">
        <ul style="list-style:none;">
            <% for(post of posts){ %>
              <li> <div class="post-container">
                        <h4> <%= post.user.name %> </h4> 
                          <%= post.content %>

                          <div class="post-comment">
                            <% if(locals.user){ %>
                            <form action="/comment/create" method="POST">
                             <input name="content" id="" placeholder="Write your comment here.....">
                             <input type="hidden" name="post" value="<%= post._id %>">
                             <input type="submit" value="comment">
                            </form>
                            <% } %>
                         </div>

                   </div>
                  
              </li>
            <%}%>
        </ul>
        
    </div> 

</section>


