<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <% if( reset_pass_token.isValid == true ){%> 
        <div>
            <form action="/users/reset_password/?accesstoken=<%=reset_pass_token.accesstoken%>" method="post">
               <input type="password" name="newPassword" placeholder="enter new password..."  required>
               <input type="password" name="reNewPassword" placeholder="Renter new password..."  required>
               <button type="submit"> Reset Password </button>
    
            </form>
        </div>
        <%=reset_pass_token.isValid%>
    <% }else{ %>

        <h1>Your reset password token has expired!</h1>
        <h1>Please create one to reset your Codeial Password </h1>
    <% } %>
    
</body>
</html>