
    <link rel="stylesheet" href="/css/user_profile.css"> 

 <h1>Welcome to user's profile section</h1>
    
<div class="card">
    <br> <br>
    <p> 
        <i class="fas fa-user"></i> <%= user.name %> 
    </p>
    <p> 
        <i class="fas fa-envelope-open"></i>  <%= user.email %>
    </p>
    <br> 
    <a href="/users/sign-out">
        logout
    </a>
    <br> <br>
</div>
 
   