#chat-box{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10%;
    right: 5px;
    border: 2px dashed lightgrey;
    height: 400px;
    width: 250px;
    #chat-box-head{
        height:10%;
        background-color: blue;
        cursor: pointer;
        h2{ 
            color: white;
            text-align: center;
            margin: 0;
        }
    }
    #chat-box-content{
       height: 85%;
       .other-message{
           text-align: left;
           margin: 4px;
           span{
               display: inline-block;
               padding: 8px;
               background-color: lightgrey;
               color: white;
               margin-left: -19%;
           }
       }
       .self-message{
           text-align: right;
           margin: 4px;
           span{
            display: inline-block;
            padding: 10px;
            background-color: lightskyblue;
            color: white;
           }
       }
    }
    #chat-box-bottom{
       input{
           display: inline;
           margin: 0;
           font-size: 15px;
       }
       button{
           font-size: 15px;
           background-color: blue;
           color: whitesmoke;
           cursor: pointer;
       }
    }
}


.message{
    color: white;
    background-color: blue;
    height: 20px;
    width: 60px;
}