#home-container{
    display: flex;
    flex-grow: 1;
    #imp-links{
       width: 25%;
       padding:5px;
       border-right: 1px solid lightgrey;
       height:100vh;
    }
    #feed-post{
        width: 50%;
        padding:5px;
        text-align: center;
    }
    #aside{
        width: 25%;
       padding:5px;
       border-left: 1px solid lightgrey;
       height: 100vh;
       display: flex;
       flex-direction: column;
       #friends-list{
           border-bottom: 1px solid lightgrey;
           height: 50%;
       }
    }
}


.post-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:90%;
    border:2px solid lightgrey;
    margin-bottom: 5px;
    padding: 10px;
   
}
