<div>
    <p> <%=comment.user.name %> </p>
    <br> <br>
    <p> Your comment: <strong> <%= comment.content%> </strong> is published on Codeial </p>
    <br> <br>
    <h2>THANKS , HAVE A GOOD DAY! </h2>
</div>