#home-container {
  display: flex;
  flex-grow: 1;
}

#home-container #imp-links {
  width: 25%;
  padding: 5px;
  border-right: 1px solid lightgrey;
  height: 100vh;
}

#home-container #feed-post {
  width: 50%;
  padding: 5px;
  text-align: center;
}

#home-container #aside {
  width: 25%;
  padding: 5px;
  border-left: 1px solid lightgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#home-container #aside #friends-list {
  border-bottom: 1px solid lightgrey;
  height: 50%;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  border: 2px solid lightgrey;
  margin-bottom: 5px;
  padding: 10px;
}
